version: "3.9"

services:
  backend:
    build: ./backend
    container_name: gas-backend
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      # NODE_ENV: debug
      # NODE_ENV: product
      NODE_ENV: development
    depends_on:
      - db
      

  web:
    build: ./web
    container_name: gas-web
    ports:
      - "5173:5173"
    volumes:
      - ./web:/app
      - /app/node_modules
    environment:
      - VITE_API_BASE_URL=http://backend:3000
    depends_on:
      - backend


  db:
    image: postgres:15
    container_name: gas-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gas
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: